:root{
	--color-bg: #f3f3f2;
	--color-dark-blue: #1a2a66;
	--color-deep-blue: #003d80;
	--color-cyber-yellow: #ffd302;
}

html,body{ height:100%; }
body { font-family: Arial, sans-serif; margin: 0; padding: 0; background: var(--color-bg); }

/* helper */
.text-cyber { color: var(--color-cyber-yellow); }
